aws_region            = "us-east-1"
ingestion_bucket_name = "example-ai-security-lab-source-ingestion"
validated_bucket_name = "example-ai-security-lab-source-validated"
github_org            = "ExampleOrg"

allowed_repositories = [
  "example-app",
  "example-api",
  "example-iac"
]

allowed_branches = [
  "main"
]

object_lock_retention_days = 365

kms_admin_role_arns = [
  "arn:aws:iam::111122223333:role/LabSecurityAdmin"
]
